body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-container{
  background-color: white;
  position: fixed;
  overflow: hidden;
  top: 0;
  width: 100%;
  z-index: 1;
}

.navigation-bar{
  background-color: black;
  color: white;
}

.navigation-bar nav{
  display:flex;
  width:84%;
  font-weight: bold;
  justify-content: space-between;
  align-items: center;
  padding: 1vh;
  margin: auto;
}

.navigation-bar nav ul li{
  list-style: none;
  font-size: 16px;
  display: inline-block;
  margin: 10px 20px;
}

.navigation-bar nav ul li a{
  text-decoration: none;
  color: white;
}

.navigation-bar nav a{
  text-decoration: none;
  color: white;
}

.navigation-bar nav a:hover{
  text-decoration: none;
  color: #f23849;
}

.navigation-bar nav ul li a:hover{
  text-decoration: none;
  color: #f23849;
}

.video-case{
  margin-top: 9vh;
  width:100%;
  height: 100%;
}

.video-container video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-txt{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 9vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-image: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0));
}

.video-txt .head1{
  font-size: 60px;
  font-weight: 300;
}

.video-txt .head2{
  font-size: 40px;
  font-weight: 600;
}

.body-bar nav{
  display:flex;
  width:85%;
  justify-content: space-between;
  align-items: center;
  padding: 1vh;
  margin: auto;
}

.body-bar ul{
  width: 100%;
  border-bottom: 1px solid black;
}

.body-bar nav ul li{
  color: rgb(108, 108, 108);
  font-weight: 100;
  list-style: none;
  width: 15%;
  font-size: 16px;
  display: inline-block;
  margin: 0px 20px;
  padding: 2vh 0;
  border-bottom: solid 5px white;
}

.body-bar nav ul li a{
  /* border-bottom: solid 5px white; */
  width: 250px;
  text-decoration: none;
  cursor: pointer;
}

.body-bar nav ul li:hover{
  text-decoration: none;
  border-bottom: solid 5px #f23849;
}

.Stock-heading{
  color: red;
  font-weight: 700;
}
